.wrapper {
  flex: 0 0 auto;
  width: 100%;
  padding: 3px 0 2px;
  box-sizing: border-box;
}

.urlLine {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #4b5563;
  font-size: 12px;
  padding: 2px 4px 0;
}
