.alert-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  width: 300px; // Set a width for consistent layout

  .alert-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    // Apply default styling for images if no class is provided
    img.default-image-class {
      width: 100px;
      height: auto;
      margin-bottom: 20px;
    }

    // Additional styling if a specific image class is provided
    img.construction-image {
      width: 100px;
      height: auto;
      margin-bottom: 20px;
    }

    p {
      font-size: 18px;
      margin-bottom: 20px;
      color: #333;
      text-align: center;
    }

    .close-btn {
      background-color: #ff6347;
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #e55342;
      }
    }
  }
}
