.grid-container {
  padding: 0 18px 0 3px;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.block {
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.block-header {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  background-color: #0b5394; /* Dark blue background */
  color: white; /* White text */
  font-size: 1.2em; /* Slightly larger font size */
  font-weight: bold; /* Bold text */
  border-radius: 10px; /* Rounded corners */
  margin: 0; /* No margin */
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5); /* Shadow effect */
  
  .move-buttons {
    margin-left: auto; /* Push buttons to the right */
    display: flex;
    gap: 5px; /* Space between buttons */
  }
}

.move-button {
  width: 24px; /* Adjust button size */
  height: 24px;
  background-color: transparent; /* Transparent background */
  padding: 0;
  cursor: pointer; /* Make button look clickable */
}

.garbage-button {
  width: 24px; /* Same size for the garbage button */
  height: 24px;
  background-color: transparent;
  margin-right: 3px; /* Space from the up button */
  padding: 0;
  cursor: pointer;
}

.edit-button {
  width: 24px;
  height: 24px;
  background-color: transparent;
  margin-left: 3px;
  padding: 0;
  cursor: pointer;
}

.cross-button {
  width: 24px;
  height: 24px;
  background-color: transparent;
  margin-left: 3px;
  padding: 0;
  cursor: pointer;
}

.instructions-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.instruction-item {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 3fr 1fr 2fr 1fr;
  gap: 10px;
  padding: 10px;
  background-color: #e0f7fa;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  border: 1px solid #ddd;
}

.instruction-item:last-child {
  margin-bottom: 0;
}

.instruction-item span {
  padding: 5px;
}
