.wrapper {
  position: relative;
  z-index: 1;
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 6px 8px 8px;
  box-sizing: border-box;
}

.keepButtonsOnTop {
  grid-template-columns: minmax(160px, 1fr) minmax(96px, auto) max-content !important;
}

@media (max-width: 900px) {
  .keepButtonsOnTop {
    grid-template-columns: 1fr !important;
  }
}
